In [1]:
import numpy as np
import pandas as pd

In [2]:
d={
    'area':[2600,3000,3200,3600,4000],
    'bedrooms':[3,4,np.nan,3,5],
    'age':[20,15,18,30,8],
    'price':[550000,565000,610000,595000,760000]
}

In [3]:
df=pd.DataFrame(d)

In [4]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [6]:
from sklearn import linear_model

In [7]:
median=df['bedrooms'].median()
median

3.5

In [8]:
df=df.fillna({
    'bedrooms':median
})

In [9]:
reg=linear_model.LinearRegression()

In [10]:
reg.fit(df[['area','bedrooms','age']],df['price'])

LinearRegression()

In [11]:
reg.predict([[2500,3,20]])

array([517118.78041124])

In [12]:
reg.predict([[2600,4,5]])

array([634398.83848689])

In [13]:
#kinda differnt pridiction